@model SUTFProjeYonetimi.Models.Akademisyen
@{
	ViewBag.Title = "Akademisyen Detayları";
}

<div id="ribbon">
	<ol class="breadcrumb">
		<li>Akademisyen</li>
		<li>Akademisyen Detayları</li>
	</ol>
</div>
<div id="content">
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:25px">
		<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-file"></i> </span>
				<h2>Akademisyen Detay Formu</h2>
			</header>
			<div>
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body container-fluid">
					<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
						<h4>Akademisyen Detayları</h4>
						<hr />
						<div class="table-responsive">
							<table class="table  table-striped table-bordered">
								<tbody>
									<tr>
										<td><b>T.C. Kimlik No.</b></td>
										<td>@Model.TCKNO</td>
									</tr>
									<tr>
										<td><b>Fakülte</b></td>
										<td>@Model.FakulteID</td>
									</tr>
									<tr>
										<td><b>Bölum</b></td>
										<td>@Model.BolumID</td>
									</tr>
									<tr>
										<td><b>Ünvan</b></td>
										<td>@Model.Unvan</td>
									</tr>
									<tr>
										<td><b>Ad Soyad</b></td>
										<td>@(Model.Ad + " " + Model.Soyad)</td>
									</tr>
									<tr>
										<td><b>Etkin</b></td>
										<td>@(Model.Etkin ? "Etkin" : "Etkin Değil")</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
							<hr />
							@Html.ActionLink("Listeye Dön", "Liste", null, new { @class = "btn btn-primary btn-block" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
