<!DOCTYPE html>
<html lang="tr">
<head>
	@Html.Partial("_Head")
	@RenderSection("Contents", false)
</head>
<body class="">
	<header id="header">
		<div id="logo-group">
			<span id="logo"> <img src="~/Assets/img/logo.png"></span>
		</div>
		<div class="pull-right">
			<div id="hide-menu" class="btn-header pull-right">
				<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
			</div>
			<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
				<li class="">
					<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
						<img src="~/Assets/img/avatars/sunny.png" alt="John Doe" class="online" />
					</a>
					<ul class="dropdown-menu pull-right">
						<li class="divider"></li>
						<li>
							<a href="~/Panel/CikisYap" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>Ç</u>ıkış Yap</strong></a>
						</li>
					</ul>
				</li>
			</ul>
			<div id="logout" class="btn-header transparent pull-right">
				<span> <a href="~/Panel/CikisYap" title="Çıkış Yap" data-action="userLogout" data-logout-msg="Güvenli bir şekilde çıkış işleminiz gerçekleşecektir. İşlemi onaylıyor musunuz?"><i class="fa fa-sign-out"></i></a> </span>
			</div>
		</div>
	</header>
	<aside id="left-panel">
		<div class="login-info">
			<span>
				<a href="javascript:void(0);" id="show-shortcut">
					<img src="~/Assets/img/avatars/sunny.png" class="online" />
					<span>
						@SUTFProjeYonetimi.Models.EkModel.AnlikOturum.Kullanici.KullaniciAdi
					</span>
					<i class="fa fa-angle-down"></i>
				</a>
			</span>
		</div>
		<nav>
			<ul>
				@if (SUTFProjeYonetimi.Models.EkModel.AnlikOturum.Kullanici.Yetki == (int)SUTFProjeYonetimi.Models.Enum.Yetkilendirme.SystemAdmin)
				{
					<li><a href="~/Panel/Anasayfa" title="Anasayfa"><i class="fa fa-lg fa-fw fa-home"></i>Anasayfa</a></li>
					<li><a href="~/Panel/Donemler" title="Duyurular"><i class="fa fa-lg fa-fw fa-calendar"></i>Dönemler</a></li>
					<li><a href="~/Panel/FakulteListesi" title="Fakülteler"><i class="fa fa-lg fa-fw fa-building"></i>Fakülteler</a></li>
					<li><a href="~/Panel/BolumListesi" title="Bölümler"><i class="fa fa-lg fa-fw fa-code-fork"></i>Bölümler</a></li>
					<li><a href="~/Proje/Liste" title="Projeler"><i class="fa fa-lg fa-fw fa-cubes"></i>Projeler</a></li>
					<li><a href="~/Proje/OneriListesi" title="Proje Önerileri"><i class="fa fa-lg fa-fw fa-comment"></i>Proje Önerileri</a></li>
					<li><a href="~/Ogrenci/Liste" title="Öğrenciler"><i class="fa fa-lg fa-fw fa-users"></i>Öğrenciler</a></li>
					<li><a href="~/Akademisyen/Liste" title="Akademisyenler"><i class="fa fa-lg fa-fw fa-graduation-cap"></i>Akademisyenler</a></li>
					<li><a href="~/Panel/Duyuru" title="Duyurular"><i class="fa fa-lg fa-fw fa-bell"></i>Duyurular</a></li>
				}
				else if (SUTFProjeYonetimi.Models.EkModel.AnlikOturum.Kullanici.Yetki == (int)SUTFProjeYonetimi.Models.Enum.Yetkilendirme.Dekan)
				{
					<li><a href="~/Panel/Anasayfa" title="Anasayfa"><i class="fa fa-lg fa-fw fa-home"></i>Anasayfa</a></li>
					<li><a href="~/Proje/Liste" title="Projeler"><i class="fa fa-lg fa-fw fa-cubes"></i>Projeler</a></li>
					<li><a href="~/Ogrenci/Liste" title="Öğrenciler"><i class="fa fa-lg fa-fw fa-users"></i>Öğrenciler</a></li>
					<li><a href="~/Akademisyen/Liste" title="Akademisyenler"><i class="fa fa-lg fa-fw fa-graduation-cap"></i>Akademisyenler</a></li>
					<li><a href="~/Panel/Duyuru" title="Duyurular"><i class="fa fa-lg fa-fw fa-bell"></i>Duyurular</a></li>
				}
				else if (SUTFProjeYonetimi.Models.EkModel.AnlikOturum.Kullanici.Yetki == (int)SUTFProjeYonetimi.Models.Enum.Yetkilendirme.BolumBaskani)
				{
					<li><a href="~/Panel/Anasayfa" title="Anasayfa"><i class="fa fa-lg fa-fw fa-home"></i>Anasayfa</a></li>
					<li><a href="~/Proje/Liste" title="Projeler"><i class="fa fa-lg fa-fw fa-cubes"></i>Projeler</a></li>
					<li><a href="~/Proje/OneriListesi" title="Proje Önerileri"><i class="fa fa-lg fa-fw fa-comment"></i>Proje Önerileri</a></li>
					<li><a href="~/Ogrenci/Liste" title="Öğrenciler"><i class="fa fa-lg fa-fw fa-users"></i>Öğrenciler</a></li>
					<li><a href="~/Akademisyen/DanismanAtama" title="Danışman Atama"><i class="fa fa-lg fa-fw fa-gavel"></i>Danışman Atama</a></li>
					<li><a href="~/Panel/Duyuru" title="Duyurular"><i class="fa fa-lg fa-fw fa-bell"></i>Duyurular</a></li>
				}
				else if (SUTFProjeYonetimi.Models.EkModel.AnlikOturum.Kullanici.Yetki == (int)SUTFProjeYonetimi.Models.Enum.Yetkilendirme.Danisman)
				{
					<li><a href="~/Panel/Anasayfa" title="Anasayfa"><i class="fa fa-lg fa-fw fa-home"></i>Anasayfa</a></li>
					<li><a href="~/Proje/Liste" title="Projeler"><i class="fa fa-lg fa-fw fa-cubes"></i>Projeler</a></li>
					<li><a href="~/Proje/OneriListesi" title="Proje Önerileri"><i class="fa fa-lg fa-fw fa-comment"></i>Proje Önerileri</a></li>
					<li><a href="~/Ogrenci/Liste" title="Öğrenciler"><i class="fa fa-lg fa-fw fa-users"></i>Öğrenciler</a></li>
					<li><a href="~/Akademisyen/DanismanAtama" title="Danışman Atama"><i class="fa fa-lg fa-fw fa-gavel"></i>Danışman Atama</a></li>
					<li><a href="~/Panel/Duyuru" title="Duyurular"><i class="fa fa-lg fa-fw fa-bell"></i>Duyurular</a></li>
				}
				else if (SUTFProjeYonetimi.Models.EkModel.AnlikOturum.Kullanici.Yetki == (int)SUTFProjeYonetimi.Models.Enum.Yetkilendirme.Ogrenci)
				{
					<li><a href="~/Panel/Anasayfa" title="Anasayfa"><i class="fa fa-lg fa-fw fa-home"></i>Anasayfa</a></li>
					<li><a href="~/Ogrenci/Proje" title="Proje"><i class="fa fa-lg fa-fw fa-cubes"></i>Proje</a></li>
					<li><a href="~/Ogrenci/ProjeOnerisiOlustur" title="Proje Önerisi Oluştur"><i class="fa fa-lg fa-fw fa-comment"></i>Proje Önerisi Oluştur</a></li>
					@*<li><a href="~/Ogrenci/DanismanlikDegisiklikTalebi" title="Danışmanlık Değişiklik Talebi"><i class="fa fa-lg fa-fw fa-user"></i>Danışmanlık Değişiklik Talebi</a></li>*@
				}
			</ul>
		</nav>
		<span class="minifyme" data-action="minifyMenu">
			<i class="fa fa-arrow-circle-left hit"></i>
		</span>
	</aside>
	<div id="main" role="main">
		@RenderBody()
	</div>
	<div class="page-footer">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<span class="txt-color-white">SÜ-Teknoloji Fakültesi Proje Yönetim Otomasyonu 1.0 © 2019</span>
			</div>
		</div>
	</div>
	@Html.Partial("_Script")
	@RenderSection("Scripts", false)
</body>
</html>