@model SUTFProjeYonetimi.Models.Proje
@{
	ViewBag.Title = "Proje İşlemleri";

	var projeTipi = ViewData["ProjeTipi"] as SelectList;
	var projeDurumu = ViewData["ProjeDurumu"] as SelectList;
	var fakulte = ViewData["Fakulte"] as SelectList;
	var bolum = ViewData["Bolum"] as SelectList;
	var danisman = ViewData["Danisman"] as SelectList;
	var ogrenci = ViewData["Ogrenci"] as SelectList;
}

<div id="ribbon">
	<ol class="breadcrumb">
		<li>Proje</li>
		<li>Proje İşlemleri</li>
	</ol>
</div>
<div id="content">
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:25px">
		<div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>Proje Formu</h2>
			</header>
			<div class="container-fluid">
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body no-padding">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<div style="padding-bottom:10px"></div>
						<div class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group">
								@Html.LabelFor(model => model.FakulteID, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.FakulteID, fakulte, new { @class = "form-control", placeholder = "Fakülte" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.BolumID, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.BolumID, bolum, new { @class = "form-control", placeholder = "Bölüm" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.ProjeTipi, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.ProjeTipi, projeTipi, new { @class = "form-control", placeholder = "Proje Tipi" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.DanismanID, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.DanismanID, danisman, new { @class = "form-control", placeholder = "Danışman" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.OgrenciID, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.OgrenciID, ogrenci, new { @class = "form-control", placeholder = "Öğrenci" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.ProjeAdi, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.EditorFor(model => model.ProjeAdi, new { htmlAttributes = new { @class = "form-control", placeholder = "Proje Adı" } })
									@Html.ValidationMessageFor(model => model.ProjeAdi, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.ProjeAciklamasi, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextAreaFor(model => model.ProjeAciklamasi, new { @class = "form-control", placeholder = "Proje Açıklaması" })
									@Html.ValidationMessageFor(model => model.ProjeAciklamasi, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.ProjeKonusuAmaci, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextAreaFor(model => model.ProjeKonusuAmaci, new { @class = "form-control", placeholder = "Proje Konusu Amacı" })
									@Html.ValidationMessageFor(model => model.ProjeKonusuAmaci, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.MaliyetArastirmasi, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextAreaFor(model => model.MaliyetArastirmasi, new { @class = "form-control", placeholder = "Maliyet Araştırması" })
									@Html.ValidationMessageFor(model => model.MaliyetArastirmasi, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.CevreselEtkileri, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextAreaFor(model => model.CevreselEtkileri, new { @class = "form-control", placeholder = "Çevresel Etkileri" })
									@Html.ValidationMessageFor(model => model.CevreselEtkileri, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.EtikSakincalari, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextAreaFor(model => model.EtikSakincalari, new { @class = "form-control", placeholder = "Etik Sakıncaları" })
									@Html.ValidationMessageFor(model => model.EtikSakincalari, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.YararlanilanKaynaklar, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextAreaFor(model => model.YararlanilanKaynaklar, new { @class = "form-control", placeholder = "Yararlanılan Kaynaklar" })
									@Html.ValidationMessageFor(model => model.YararlanilanKaynaklar, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.EkAlan1, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.EditorFor(model => model.EkAlan1, new { htmlAttributes = new { @class = "form-control", placeholder = "Ek Alan-1" } })
									@Html.ValidationMessageFor(model => model.EkAlan1, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.EkAlan2, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.EditorFor(model => model.EkAlan2, new { htmlAttributes = new { @class = "form-control", placeholder = "Ek Alan-2" } })
									@Html.ValidationMessageFor(model => model.EkAlan2, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.BaslangicTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextBoxFor(model => model.BaslangicTarihi, new { @class = "form-control datepicker", placeholder = "Başlangıç Tarihi" })
									@Html.ValidationMessageFor(model => model.BaslangicTarihi, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.BitisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.TextBoxFor(model => model.BitisTarihi, new { @class = "form-control datepicker", placeholder = "Bitiş Tarihi" })
									@Html.ValidationMessageFor(model => model.BitisTarihi, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.Durum, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.Durum, projeDurumu, new { @class = "form-control", placeholder = "Durum" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.Etkin, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-md-1">
									<div class="smart-form">
										<label class="toggle">
											@Html.CheckBoxFor(model => model.Etkin, new { @class = "form-control" })
											<i data-swchon-text="Evet" data-swchoff-text="Hayır"></i>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<p><button type="submit" class="btn btn-success"><i class="fa fa-save"></i>  Onayla</button> | @Html.ActionLink("Listeye Dön", "Liste", null, new { @class = "btn btn-primary" })</p>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</article>
</div>

