@model SUTFProjeYonetimi.Models.Bolum
@{
	ViewBag.Title = "Bölüm İşlemleri";

	var fakulteler = ViewData["Fakulteler"] as SelectList;
	var bolumBaskanlari = ViewData["BolumBaskanlari"] as SelectList;
}

<div id="ribbon">
	<ol class="breadcrumb">
		<li>Bölüm</li>
		<li>Bölüm İşlemleri</li>
	</ol>
</div>
<div id="content">
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:25px">
		<div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>Bölüm Formu</h2>
			</header>
			<div class="container-fluid">
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body no-padding">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<div style="padding-bottom:10px"></div>
						<div class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group">
								@Html.LabelFor(model => model.FakulteID, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.FakulteID, fakulteler, new { @class = "form-control", placeholder = "Fakülte" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control", placeholder = "Bölüm Adı" } })
									@Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.KisaKod, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.EditorFor(model => model.KisaKod, new { htmlAttributes = new { @class = "form-control", placeholder = "Kısa Kodu" } })
									@Html.ValidationMessageFor(model => model.KisaKod, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.Yetkili, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									@Html.DropDownListFor(model => model.Yetkili, bolumBaskanlari, new { @class = "form-control", placeholder = "Fakülte" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.Etkin, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2 col-xs-2" })
								<div class="col-md-1">
									<div class="smart-form">
										<label class="toggle">
											@Html.CheckBoxFor(model => model.Etkin, new { @class = "form-control" })
											<i data-swchon-text="Evet" data-swchoff-text="Hayır"></i>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<p><button type="submit" class="btn btn-success"><i class="fa fa-save"></i>  Onayla</button> | @Html.ActionLink("Listeye Dön", "BolumListesi", null, new { @class = "btn btn-primary" })</p>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</article>
</div>
